<section class="main">
    <div class="main_title">about me.</div>
    <p>
        Download my resume (<%= link_to 'pdf', asset_path('resume.pdf')%>)
    </p>
    <div class="resume_section">
        <div class="main_subtitle">education.</div>
        <p>
            Carnegie Mellon University
        </p>
        <p>
            Centaurus High School
        </p>
    </div>
    <div class="resume_section">
        <div class="main_subtitle">software experience.</div>
        <p>
            FactSet Research Systems
        </p>
        <p>
            University of Illinois at Urbana-Champaign
        </p>
        <p>
            Carnegie Mellon University
        </p>
    </div>
    <div class="resume_section">
        <div class="main_subtitle">other experience.</div>
        <p>
            City Year Boston
        </p>
        <p>
            Carnegie Mellon Student Life
        </p>
        <p>
            Carnegie Mellon Academic Development
        </p>
    </div>
</section>
