<section class="main">
    <div class="main_title">life is art.</div>
    <p>
        Welcome to my little corner of the internet.  My hope is that this will be a constant reflection of the journey of a kid with a computer, forever curious, always at service to make the world a more beautiful place.  
    </p>
    <p>
        Feel free to browse the random musings here, and drop me a line if you think we should chat.
    </p>
</section>

<section class="secondary">
    <div class="sidebar_title">sidebar</div>

    <p>This is an aside.</p>
</section>

