<section class="main">
    <div class="main_title">projects.</div>

    <div class="main_subtitle">under construction.</div>
    <p>
        links to current and past projects will be found here.
    </p>
</section>
